@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.score {
    color: rgb(193, 191, 191);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 3rem;
    min-height: 20vh;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

.heading {
    color: rgb(193, 191, 191);
    text-align: center;
    margin-top: 4rem;
    font-size: 1.5rem;
}

body {
    background-color: #10273b;
    font-family: "Poppins",sans-serif;
}

.computer-hand {
    transform: rotateY(180deg);
}

.visuals {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    max-height: 30px;
}

.selected-option {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.selected-option button {
    padding: 1rem 3rem;
    margin-right: 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.selected-option button:active {
    transform: scale(0.4);
    background-color: rgb(45, 95, 222);
}