@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
    /* font-weight: bold; */
}

i,svg {
    pointer-events: none;
}

.kick-pad,.snare-pad,.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(160,211,224);
}

.snare-pad {
    background: rgb(224,160,208);
}

.hihat-pad {
    background: rgb(224,194,160);
}

.hihat-track,.snare-track,.kick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 70px; */
    padding-top: 70px;
    /* max-width: 700px; */
}

.snare,.hihat,.kick {
    display: flex;
    margin-right: 100px;
}

.play {
    margin-left:750px;
    margin-top: 5%;
    padding: 9px 25px;
    background:rgb(71, 71, 71);
    color: white;
}

button {
    padding: 9px 25px;
    cursor: pointer;
}

.snare-volume {
    margin-right: 12px;
}

.controls {
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-size: 20px;
    /* margin-left: 100px; */
    margin: 0px 50px;
}

select,option {
    cursor: pointer;
}

.controls button {
    background:rgb(71, 71, 71);
    color: white;
}

.kick-pad.active {
    background: rgb(59,197,231);
}

.snare-pad.active {
    background: rgb(218,58,178);
}

.hihat-pad.active {
    background: rgb(241,158,64);
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}